header {
  display: flex;
  justify-content: center;
  background-color: #e1e1e1;
  padding: 16px;
  text-align: center;
}
h1 {
  font-size: 1.5rem;
  margin: 0;
}

main {
  padding: 15px;
}

.icon-back {
  cursor: pointer;
  position: absolute;
  left: 15px;
}

footer {
  position: fixed;
  bottom: 0;
  background: rgb(222, 236, 249);
  width: 100%;
  padding: 0 16px;
}
